doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    header
      h1 Football Stats
      nav
        ul
          li
            a(href="/") Home
    main
      block content
    footer
      p © 2024 Football Stats